.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('images/Untitled41_20211013123633.png');
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-family: Ceviche One;
  font-size: 6rem;
  transition-duration: 0.5s;
  text-shadow: 8px 0 10px rgba(128,128,128,1);
  animation-duration: 1000ms;
  font-weight: 400;
  margin: 112px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 12px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 120px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  animation-duration: 1000ms;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
  }
}