 .u-section-1 {
  min-height: 494px;
}

.u-section-1 .u-image-1 {
  object-position: 16.92% 50%;
}

.u-section-1 .u-image-2 {
  width: 660px;
  height: 101px;
  margin: 146px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 33px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 476px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 505px;
  }

  .u-section-1 .u-image-1 {
    object-position: 19.21% 50%;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 52px;
    margin-top: 170px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 69px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 929px;
}

.u-section-2 .u-image-1 {
  width: 1220px;
  height: 954px;
  margin: -25px auto 0 -51px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 735px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 422px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-image-1 {
    height: 358px;
    width: 390px;
    object-position: 50.82% 50%;
    margin-top: 23px;
    margin-right: -50px;
  }
}